h1 {
    color: rgb(0, 255, 255);
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: rgb(162, 0, 255);
    margin: 50px;
    border: 1px solid rgb(89, 0, 255);
}
#spanId {
    font-size: 18px;
    margin: 50px;
    padding: 50px;
}
.divClass {
    display: flex;
}